<!DOCTYPE html>
<html>
<head>
    <title>Unique Fruits</title>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <h1>Unique Fruits in Basket A and Basket B</h1>
    <table>
        <tr>
            <th>Basket A</th>
            <th>Basket B</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for fruit in fruits_a %}
                        <li>{{ fruit }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for fruit in fruits_b %}
                        <li>{{ fruit }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
